<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pwr.tirt.plangen" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.DayViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pwr.tirt.plangen.activities.DayViewActivity" />
        </activity>
        <activity
            android:name=".activities.AddEventActivity"
            android:label="@string/add_event_activity"
            android:parentActivityName=".activities.DayViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pwr.tirt.plangen.activities.DayViewActivity" />
        </activity>
        <activity
            android:name=".activities.EditEventActivity"
            android:label="@string/title_activity_edit_event"
            android:parentActivityName=".activities.DayViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pwr.tirt.plangen.activities.DayViewActivity" />
        </activity>
        <activity
            android:name=".activities.WeekViewActivity"
            android:label="@string/week_view_activity"
            android:parentActivityName=".activities.DayViewActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pwr.tirt.plangen.activities.DayViewActivity" />
        </activity>
        <activity
            android:name=".activities.DayViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Mapa"
            android:label="@string/title_activity_mapa"
            android:parentActivityName=".activities.DayViewActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pwr.tirt.plangen.activities.DayViewActivity" />
        </activity>
    </application>

</manifest>
