<!DOCTYPE html>
<html ng-app="scheduleModule">
<head>
<title>Strona główna</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="lib/angular.js"></script>
<script src="mainModule.js"></script>
</head>
<body ng-controller="ScheduleCtrl">
	<form action="#" th:action="@{/schedule/save}" th:object="${schedule}"
		method="post">
		
		numer indexu: <input type="text" name = "indexNo" th:field="${schedule.indexNo}" /><br/>
		semestr: <input type="text" name = "semester" th:field="${schedule.semester}" /><br/>
		html z edukacji: <input type="text" name = "html" th:field="${schedule.html}" /><br/>
		
		<button class="button" type="submit">Dodaj</button>
		<br />
	</form>

	<input type="button" value="pobierz plan" ng-click="fetchSchedule()"> </input>
	<p>{{scheduleJson}}</p>
	
	<p>Boottest{{1+1}}</p>
	<p>{{test}}</p>
</body>
</html>
