<!DOCTYPE html>
<html ng-app="scheduleModule">
<head>
<title>Strona główna</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
<script src="lib/angular.js"></script>
<script src="mainModule.js"></script>

<style>
	.Wy {
		background-color: #FFECE4;
	}
	
	.Cw {
		background-color: #32FFE4;
	}

	.Za {
		background-color: #12AA44;
	}

	.Pr {
		background-color: #AA1FE4;
	}

	.Se {
		background-color: #32F998;
	}
</style>

</head>
<body ng-controller="ScheduleCtrl">

	<div class="container-fluid">
		<h2>Podaj id planu</h2><input type="text" ng-model="scheduleId"></br></input>
		<input type="button" class="btn btn-warning" value="pobierz plan" ng-click="fetchSchedule(); isClicked=true">
		</input>
		<!-- <p>{{scheduleJson}}</p>  -->
	</div>


	<table  ng-show="isClicked" class="table table-striped table-bordered table-condensed">
		<tr name="header">
			<td>godz.</td>
			<td>poniedziałek</td>	
			<td>wtorek</td>	
			<td>środa</td>	
			<td>czwartek</td>	
			<td>piątek</td>	
		</tr>
		<tr name="7:30">	
			<td>7:30</td>
			<td name="poniedziałek"><pre class={{pn07_30class}}>{{pn07_30 }}</pre></td>	
			<td name="wtorek"><pre class={{wt07_30class}}>{{wt07_30 }}</pre></td>	
			<td name="środa"><pre class={{r07_30class}}>{{r07_30 }}</pre></td>	
			<td name="czwartek"><pre class={{cz07_30class}}>{{cz07_30 }}</pre></td>	
			<td name="piątek"><pre class={{pt07_30class}}>{{pt07_30 }}</pre></td>	
		</tr>
		<tr name="9:15">	
			<td>9:15</td>
			<td name="poniedziałek"><pre class="{{pn09_15class}}">{{pn09_15}}</pre></td>	
			<td name="wtorek"><pre class="{{wt09_15class}}">{{wt09_15 }}</pre></td>	
			<td name="środa"><pre class="{{r09_15class}}">{{r09_15 }}</pre></td>	
			<td name="czwartek"><pre class="{{cz09_15class}}">{{cz09_15 }}</pre></td>	
			<td name="piątek"><pre class="{{pt09_15class}}">{{pt09_15 }}</pre></td>	
		</tr>
		<tr name="11:15">	
			<td>11:15</td>
			<td name="poniedziałek"><pre class="{{pn11_15class}}">{{pn11_15 }}</pre></td>	
			<td name="wtorek"><pre class="{{wt11_15class}}">{{wt11_15 }}</pre></td>	
			<td name="środa"><pre class="{{r11_15class}}">{{r11_15 }}</pre></td>	
			<td name="czwartek"><pre class="{{cz11_15class}}">{{cz11_15 }}</pre></td>	
			<td name="piątek"><pre class="{{pt11_15class}}">{{pt11_15 }}</pre></td>	
		</tr>
		<tr name="13:15">	
			<td>13:15</td>
			<td name="poniedziałek"><pre class="{{pn13_15class}}">{{pn13_15 }}</pre></td>	
			<td name="wtorek"><pre class="{{wt13_15class}}">{{wt13_15 }}</pre></td>	
			<td name="środa"><pre class="{{r13_15class}}">{{r13_15 }}</pre></td>	
			<td name="czwartek"><pre class="{{cz13_15class}}">{{cz13_15 }}</pre></td>	
			<td name="piątek"><pre class="{{pt13_15class}}">{{pt13_15 }}</pre></td>	
		</tr>
		<tr name="15:15">	
			<td>15:15</td>
			<td name="poniedziałek"><pre class="{{pn15_15class}}">{{pn15_15 }}</pre></td>	
			<td name="wtorek"><pre class="{{wt15_15class}}">{{wt15_15 }}</pre></td>	
			<td name="środa"><pre class="{{r15_15class}}">{{r15_15 }}</pre></td>	
			<td name="czwartek"><pre class="{{cz15_15class}}">{{cz15_15 }}</pre></td>	
			<td name="piątek"><pre class="{{pt15_15class}}">{{pt15_15 }}</pre></td>	
		</tr>
		<tr name="17:05">	
			<td>17:05</td>
			<td name="poniedziałek"><pre class="{{pn17_05class}}">{{pn17_05 }}</pre></td>	
			<td name="wtorek"><pre class="{{wt17_05class}}">{{wt17_05 }}</pre></td>	
			<td name="środa"><pre class="{{r17_05class}}">{{r17_05 }}</pre></td>	
			<td name="czwartek"><pre class="{{cz17_05class}}">{{cz17_05 }}</pre></td>	
			<td name="piątek"><pre class="{{pt17_05class}}">{{pt17_05 }}</pre></td>	
		</tr>
		<tr name="18:55">	
			<td>18:55</td>
			<td name="poniedziałek"><pre class="{{pn18_55class}}">{{pn18_55 }}</pre></td>	
			<td name="wtorek"><pre class="{{wt18_55class}}">{{wt18_55 }}</pre></td>	
			<td name="środa"><pre class="{{r18_55class}}">{{r18_55 }}</pre></td>	
			<td name="czwartek"><pre class="{{cz18_55class}}">{{cz18_55 }}</pre></td>	
			<td name="piątek"><pre class="{{pt18_55class}}">{{pt18_55 }}</pre></td>	
		</tr>
	</table>

	<div class="container-fluid">
		<table>
		<tr>
			<td><h4>Semestr</h4></td>
			<td><h4>Numer indexu</h4></td>
			<td><h4></>Html z edukacji</h4></td>
		</tr>
		<tr>
			<td><input type="text" ng-model="schedule.semester"></input></td>
			<td><input type="text" ng-model="schedule.indexNo"></input></td>
			<td><input type="text" ng-model="schedule.html"></input> </td>
		</tr>
		
		</table>	
			<input type="button" value="zapisz" class="btn btn-info" ng-click="saveHtml()"></input>
		
	</div>
</body>
</html>
