<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Strona główna</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/schedule/save}" th:object="${schedule}"
		method="post">
		
		numer indexu: <input type="text" name = "indexNo" th:field="${schedule.indexNo}" /><br/>
		semestr: <input type="text" name = "semester" th:field="${schedule.semester}" /><br/>
		html z edukacji: <input type="text" name = "html" th:field="${schedule.html}" /><br/>
		
		<button class="button" type="submit">Dodaj</button>
		<br />
	</form>
</body>
</html>